.milk-background {
  background-image: url('../images/about/about-bg-mobile@2x.png');
  background-size: 100%;
  background-position: 100% 95%;
  background-repeat: no-repeat;
  @include tablet {
    background: none;
  }
  @include desktop {
    background-image: url('../images/about/about-bg-desktop@2x.png');
    background-size: 100%;
    background-position: 100% 130%;
    background-repeat: no-repeat;
  }
}
.about-wrapper {
  background: $tertiaryColor;
  padding-bottom: 39px;
  margin: 0px;
  @include tablet {
    padding-bottom: 66px;
  }
  @include desktop {
    padding-bottom: 39px;
  }
}
.about {
  &__title {
    display: flex;
    flex-direction: column;
    padding: 130px 40px 26px 40px;
    font-family: $font-titan;
    gap: 15px;
    @include tablet {
      padding-bottom: 50px;
    }
    @include desktop {
      padding-bottom: 55px;
      padding-top: 125px;
    }
  }
  &__title-text {
    text-align: center;
    text-transform: uppercase;
    @include text(400, 18px, 1.66, $iceColor, $font-titan);
    @include tablet {
      font-size: 26px;
      line-height: 1.153;
    }
    @include desktop {
      font-size: 30px;
      line-height: 1.133;
      letter-spacing: 0.04em;
    }
  }
  &__title-header {
    @include text(400, 34px, 1.147, $redColor, $font-titan);
    letter-spacing: 0.04em;
    text-align: center;
    text-transform: uppercase;
    @include tablet {
      font-size: 48px;
      line-height: 1.145;
    }
    @include desktop {
      font-size: 58px;
      line-height: 1.137;
      letter-spacing: 0.06em;
    }
  }
  &__cow-container {
    @include tablet {
      display: flex;
      gap: 17px;
      padding: 0px;
      margin: 0 auto;
    }
    @include desktop {
      display: flex;
      padding: 0px;
      margin: 0px auto;
      gap: 74px;
    }
  }
  &__cow-img {
    display: flex;
    margin: 0px auto;
    padding-bottom: 46px;
    justify-content: center;
    @include tablet {
      padding: 0px;
      max-height: 339px;
    }
    @include desktop {
      padding: 0px;
      max-height: 516px;
    }
  }
  &__cow-text {
    padding: 0px 30px 17px 30px;
    display: flex;
    flex-direction: column;
    font-family: $font-dm-sans;
    gap: 47px;
    @include tablet {
      padding: 50px 0px 62px 0px;
      gap: 49px;
    }
    @include desktop {
      padding: 51px 0px 45px 0px;
      gap: 35px;
    }
    &--black {
      @include text(500, 12px, 1.62, $firstFontColor, $font-dm-sans);
      text-align: left;
      @include tablet {
        font-size: 14px;
        line-height: 1.76;
      }
      @include desktop {
        font-size: 16px;
        line-height: 1.76;
        letter-spacing: 0.04em;
      }
    }
    &--grey {
      @include text(500, 12px, 1.62, $secondFontColor, $font-dm-sans);
      @include tablet {
        font-size: 14px;
        line-height: 1.76;
        letter-spacing: 0.04em;
      }
      @include desktop {
        line-height: 1.94;
      }
    }
  }
  &__button {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.285;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    color: $redColor;
    background-color: $primaryColor;
    border-radius: 22px;
    border: none;
    margin: 0 auto;
    width: 176px;
    height: 44px;
    &:hover {
      background-color: $buttonSecondColor;
    }
    @include tablet {
      margin: 0px;
    }
  }
  &__button-svg {
    fill: none;
    stroke: $redColor;
    margin-left: 8px;
  }
}
