.advantages {
  background-color: $tertiaryColor;
  padding-bottom: 97px;
  @include tablet {
    padding-bottom: 140px;
  }
  @include desktop {
    padding: 0 0 139px 0;
  }
  &__header {
    display: none;
  }
  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 38px;
    @include tablet {
      display: flex;
      flex-direction: row;
      gap: 60px;
    }
    @include desktop {
      gap: 30px;
    }
  }
  &__element {
    display: flex;
    flex-direction: column;
    gap: 16px;
    @include desktop {
      gap: 15px;
    }
  }
  &__img {
    width: fit-content;
    @include tablet {
      padding-bottom: 20px;
    }
    @include desktop {
      padding-bottom: 25px;
    }
  }
  &__number {
    @include text(400, 36px, 1.145, $redColor, $font-titan);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    @include tablet {
      font-size: 48px;
    }
    @include desktop {
      font-size: 58px;
    }
  }
  &__text {
    @include text(700, 12px, 1.7, $firstFontColor, $font-dm-sans);
    letter-spacing: 0.02em;
    @include tablet {
      font-size: 14px;
    }
    @include desktop {
      font-size: 16px;
      min-width: 330px;
    }
  }
}
