.button {
  display: flex;
  align-items: center;
  height: 24px;
  background-color: $primaryColor;
  color: $redColor;
  fill: $redColor;
  border-radius: 20px;
  padding: 0 13.6px;
  font-family: $font-dm-sans;
  font-size: 8px;
  line-height: 10px;
  cursor: pointer;
  border: none;
  justify-content: center;
  transition: background-color $transitionDurationDefault $transitionTimingDefault;
  @include desktop {
    @include text(700, 14px, 1.3, $redColor, $font-dm-sans);
    height: 40px;
    padding: 0 21px;
  }
  &:hover,
  &:focus {
    background-color: $buttonSecondColor;
  }
  &--header {
    @include tablet {
      height: 18px;
      width: 18px;
    }
    @include desktop {
      width: 26px;
      height: 26px;
    }
  }
  &--opposite-color {
    background-color: $redColor;
    color: $primaryColor;
    fill: $primaryColor;
    transition: background-color $transitionDurationDefault $transitionTimingDefault;
    &:hover,
    &:focus {
      background-color: $buttonThirdColor;
    }
  }
  &--open-burger {
    width: 100%;
    height: 44px;
    gap: 16px;
    padding: 0;
    fill: $redColor;
    @include text(700, 16px, 1.3, $primaryColor, $font-dm-sans);
    @include tablet {
      width: 100%;
      height: 44px;
      margin: 0 10px;
      gap: 22px;
    }
    @include desktop {
      display: none;
    }
  }
  &--buy-bt {
    display: none;
    @include tablet {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 160px;
      height: 44px;
      font-family: $font-dm-sans;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.31;
      gap: 14px;
    }
  }
  &--mobile-menu {
    display: flex;
    justify-content: center;
    width: 186px;
    height: 44px;
    gap: 16px;
  }
  &--products {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    background-image: url(../images/products/products-arrow.png);
    background-position: center;
    background-size: cover;
    transition-duration: $transitionDurationDefault;
    transition-timing-function: $transitionTimingDefault;
    &:hover,
    &:focus {
      transform: scale(1.3);
    }
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/products/products-arrow@2x.png);
    }
    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: url(../images/products/products-arrow@3x.png);
    }
  }
  &--about {
    height: 44px;
    gap: 14px;
    padding: 0 37px;
    border-radius: 22px;
    fill: $redColor;
    @include text(700, 14px, 1.3, $primaryColor, $font-dm-sans);
    @include tablet {
      font-size: 16px;
      line-height: 21px;
    }
  }
  &--contacts {
    height: 44px;
    width: 161px;
    gap: 13px;
    @include text(700, 16px, 1.3, $redColor, $font-dm-sans);
    @include tablet {
      width: 174px;
    }
    @include desktop {
      width: 180px;
      height: 44px;
      font-size: 16px;
    }
    &-locations {
      background-color: $buttonFirstColor;
      fill: $primaryColor;
      color: $primaryColor;
      @include tablet {
        width: 191px;
      }
      @include desktop {
        width: 198px;
      }
      &:hover,
      &:focus {
        background-color: $buttonThirdColor;
      }
    }
  }
  &--socials {
    width: 32px;
    height: 32px;
    background-color: #fea5bb;
    fill: $primaryColor;
    transition: background-color $transitionDurationDefault $transitionTimingDefault;
    @include tablet {
      width: 34px;
      height: 34px;
    }
    &:hover,
    &:focus {
      background-color: $redColor;
    }
  }
}
