.reviews {
  &__article {
    background-color: $quoteBgColor;
    padding-bottom: 26px;
    padding-top: 43px;

    &--wrapper {
      background-image: repeating-linear-gradient(
        $quoteBgColor,
        $quoteBgColor 30px,
        $quoteColor 1px,
        $quoteColor 31px
      );
      max-width: 180px;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      position: relative;
    }
  }

  &__picture {
    display: flex;
  }

  &__picture-customer {
    max-width: 85px;
    width: 100%;
     margin-bottom: 29px;
     justify-content: center;
     justify-items: center;
     text-align: center; 
    
  }

  &__text {
    max-width: 150px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 10;
    color: $firstFontColor;
    font-family: $font-dm-sans;
    font-weight: 500;
    size: 14px;
    line-height: 30.6px;
  }

  &__icon {
    position: absolute;
    z-index: 1;
    left: 1px;
    top: -22px;
    fill: $quoteColor;
  }

  &__list {
    display: flex;
  }

  &__list--dots {
    margin-top: 30px;
    gap: 10px;
    justify-content: center;
  }

  &__item--dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: red;
  }

  &__name {
    margin-top: 18px;
    text-align: center;
    margin-bottom: 42px;
    color: $firstFontColor;
  }

  &__list--home {
    margin-top: 30px;
    gap: 18px;
    justify-content: center;
  }

  &__item {
    background-color: #d9d9d9;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
}

.swiper .swiper-pagination-bullet-active {
  background-image: url('../images/svg/home.svg');
  background-size: 100%;
  background-color: $secondFontColor;
  background-repeat: no-repeat;
  color: red;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 18px;
  position: relative;
}

.swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin-top: 30px;
}

