.gallery {
  height: 122px;
  width: 100%;
  // display: flex;
  justify-content: center;
  background-image: linear-gradient(to bottom, $tertiaryColor 40%, $primaryColor 60%);
  text-align: center;
  margin-bottom: 80px;

  @include tablet {
    height: 264px;
    margin-bottom: 121px;
  }

  @include desktop {
    height: 430px;
    margin-bottom: 123px;
  }

  &__container {
    display: flex;
    justify-content: center;
  }

  &__picture {
width: 280px;

@include tablet {
  width: 620px;
}

@include desktop {
  width: 1050px;
}
  }
}
