* {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: $font-titan;
  color: $primaryColor;
}
.container {
  max-width: 480px;
  padding: 0 20px;
  margin: 0 auto;

  @include tablet {
    max-width: 768px;
  }

  @include desktop {
    max-width: 1280px;
  }
}
svg {
  vertical-align: middle;
}
