@use '../sass/utils/mixins1' as *;

.header {
  // position: relative;

  background-color: #ffb8ca;
  min-height: 502px; /* ----------------- ONLY FOR TESTING!! */
  overflow: hidden;
  @include tablet {
    min-height: 399px;
    padding-top: 38px;
    padding-bottom: 312px;
    @include tablet {
      padding-bottom: 264px;
    }
  }

  &__container {
    position: relative;
  }
  &__logo-container {
    display: flex;
  }

  &__circle-bg {
    width: 346px;
    height: 344px;
    position: absolute;
    top: 83px;
    left: 36px;
    // left: calc(100vw - 284px);
    border-radius: 50%;
    background-color: #ffa5ba;
    z-index: 0;
    @include tablet {
      width: 324px;
      height: 322px;
      top: 0px;
      left: 287px;
    }
  }
  // font-family: DM Sans;
  &__hero-ice-cream {
    position: absolute;
    top: 9px;
    left: 81px;
    width: 171px;
    height: auto;
    // display: block;
    @include tablet {
      position: absolute;
      top: 32px;
      left: 71px;
      width: 143px;
      // display: block;
    }
  }
  // &__center {
  //   display: flex;
  //   flex-direction: column;
  // }
  &__text {
    position: absolute;
    left: -20px;
    top: 110px;
    width: 218px;
    @include tablet {
      // display: none;
    }
  }
  &__text-white {
    font-family: $font-titan;
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #fff;
  }
  &__text-red {
    font-family: $font-titan;
    font-size: 48px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: center;
    color: #d41443;
  }

  &__buttons {
    display: flex;
    gap: 8px;
    margin-top: 19px;
  }
  // &__button {
  //   display: flex;
  //   align-items: center;
  //   height: 24px;
  //   background-color: #ffffff;
  //   color: #d41443;
  //   fill: #d41443;
  //   border-radius: 20px;
  //   padding: 0 13.6px;
  //   font-family: 'DM Sans', sans-serif;
  //   font-size: 8px;
  //   line-height: 10px;
  //   cursor: pointer;
  //   border: none;
  //   justify-content: center;
  //   &:hover,
  //   &:focus {
  //     background-color: #ececec;
  //   }
  //   &--opposite-color {
  //     background-color: #d41443;
  //     color: #fff;
  //     fill: #fff;

  //     &:hover,
  //     &:focus {
  //       background-color: #c7133e;
  //     }
  //   }
  // }
  &__description {
    display: none;
    @include tablet {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 260px;
      left: 134px;
    }
  }
  &__description-text {
    max-width: 114px;
    height: auto;
    font-size: 8px;
    font-weight: 400;
    line-height: 1.5;
    padding-bottom: 7px;
  }
  &__element {
    display: none;
    @include tablet {
      display: flex;
      position: absolute;
    }
  }
  &__element-item {
    display: flex;
    flex-direction: column;
  }

  &__element-number {
    color: #d41443;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-family: $font-titan;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.1;
  }
  &__element-text {
    font-family: $font-dm-sans;
    font-size: 8px;
    line-height: 1.1;
  }
  &__hero-girl {
    display: hidden;
    opacity: 0;
    @include tablet {
      display: initial;
      position: absolute;
      right: 20px;
      width: 168px;
      height: auto;
      display: block;
      opacity: 1;
    }
  }

  &__hero-milk {
    display: none;
    @include tablet {
      display: initial;
      position: absolute;
      top: 210px;
      left: 34px;
      width: 124px;
      height: auto;
      display: block;
    }
  }
  &__button-description {
    width: 18px;
    height: 18px;
    border-radius: 50px;
    border: none;
    outline: none;
    background-image: url(../images/products/products-arrow.png);
    background-position: center;
    background-size: cover;
  }
}
.logo {
  display: flex;
  padding-top: 6px;
  @include tablet {
    padding-top: 0;
  }
}
.nav {
  // position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // z-index: 10;
  @include tablet {
    gap: 30px;
  }

  &__links {
    display: none;
  }

  &__button {
    // font-family: DM Sans;
    font-weight: 700;
    line-height: 1.31;
    letter-spacing: 0em;
    background-color: #d41443;
    display: none;
    color: #fff;
    @include tablet {
      display: initial;
      width: 158px;
      height: 44px;
      border-radius: 22px;
      border: none;
    }
    &__button {
      &:hover,
      &:focus {
        cursor: pointer;
        outline: none;
        color: #d41443;
        background-color: #ecebeb;
      }
    }
  }
}

// ======================== RESPONSIVE NAV BURGER START =====================

// .menu-container {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;
//   padding: 48px 40px;
//   background-color: #e17992;
//   z-index: 999;
//   border: 2px solid rgb(38, 206, 22);

//   transform: translateX(100%);
//   transition: transform 250ms ease-in-out;

//   &.is-open {
//     transform: translateX(0);
//   }

// .menu-toggle {
//   position: absolute;
//   top: 16px;
//   right: 16px;
// }
// }

// .menu-toggle {
//   padding: 0;
//   background-color: transparent;
//   cursor: pointer;
//   border: none;
//   outline: none;
//   color: #fff;
//   transition: color 250ms ease-in-out;

//   &:hover,
//   &:focus {
//     color: #fff;
//   }
// }

// ======================== RESPONSIVE NAV BURGER END =====================

/* =============================== MEDIA =====================*/

@media screen and (min-width: 1280px) {
  .header {
    min-height: 665px; /* ----------------- ONLY FOR TESTING!! */
    padding: 37px 115px 56px 46px;
    background-color: #ffb8ca;
    &__circle-bg {
      width: 538px;
      height: 538px;
      top: 52px;
      left: 475px;
    }

    &__hero-ice-cream {
      left: 594px;
      width: 236px;
      height: auto;
      display: block;
    }

    &__hero-girl {
      left: 878px;
      width: 293px;
      height: auto;
      display: block;
    }

    &__hero-milk {
      bottom: 44px;
      left: 77px;
      width: 188px;
      height: auto;
      display: block;
    }
  }

  .nav {
    &__links {
      display: flex;
      list-style-type: none;
      justify-content: space-between;
      gap: 35px;
    }

    &__link {
      @include font-mixin(#fff, 700, 1rem, 1.31, 0em);
      &:hover,
      &:focus {
        color: #d41443;
      }
    }
    // .menu-toggle {
    //   display: none;
    // }
  }
}
