.menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  right: 0;
  width: 100vw;
  width: 100%;
  height: 100vh;
  padding: 33px 0;
  background-color: $hamburgerColor;
  transform: translateX(100%);
  transition-property: transform;
  transition-duration: $transitionDurationDefault;
  transition-timing-function: $transitionTimingDefault;
  @include tablet {
    width: 250px;
  }
  &__toggle {
    align-items: flex-end;
    fill: currentColor;
    position: absolute;
    top: 23px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: currentColor;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    @include desktop {
      display: none;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 23px;
  }
  &__buy {
    display: flex;
    justify-content: center;
    padding: 0 21px;
    @include tablet {
      padding: 0 34px;
    }
  }
  &__buy-bt {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primaryColor;
    fill: $redColor;
    border-radius: 20px;
    width: 100%;
    height: 44px;
    line-height: 1.31;
    gap: 16px;
    @include text(700, 16px, 1.3, $redColor, $font-dm-sans);
  }
  &__nav {
    margin-top: 19px;
    display: flex;
    flex-direction: column;
  }
  &__item {
    padding: 0 21px;
    @include tablet {
      padding: 0 24px;
    }
    height: 42px;
    width: 100%;
    border-top: 1px solid $hamburgerBorderColor;
    display: flex;
    align-items: center;
    &--last {
      border-bottom: 1px solid $hamburgerBorderColor;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    transition-property: color;
    text-decoration: none;
    transition-duration: $transitionDurationDefault;
    transition-timing-function: $transitionTimingDefault;
    @include text(700, 14px, 1.3, $primaryColor, $font-dm-sans);
    &:hover,
    &:focus {
      color: $buttonFirstColor;
    }
  }
  &.is-open {
    transition-property: transform;
    transition-duration: $transitionDurationDefault;
    transition-timing-function: $transitionTimingDefault;
    transform: translateX(0);
    opacity: 1;
    display: block;
  }
}
