.products {
  padding-top: 121px;
  padding-bottom: 98px;
  @include tablet {
    padding-top: 122px;
    padding-bottom: 112px;
  }
  @include desktop {
    padding-top: 127px;
    padding-bottom: 119px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 17px;

    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 20px;
    }

    @include desktop {
      gap: 30px;
    }
  }

  &__description-title {
    font-family: 'Titan One', cursive;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    line-height: 1.145em;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $iceColor;
    margin-bottom: 15px;
    @include tablet {
      font-size: 26px;
    }
    @include desktop {
      font-size: 30px;
    }
  }

  &__title-section {
    font-family: 'Titan One', cursive;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.145em;
    letter-spacing: 0.04em;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: $redColor;
    @include tablet {
      font-size: 48px;
    }
    @include desktop {
      font-size: 58px;
    }
  }

  &__wrapper {
    width: 280px;
    border-radius: 24px;
    padding-bottom: 41px;
    margin: 0 auto;
    margin-top: 144px;
    @include tablet {
      width: 220px;
      padding-bottom: 40px;
    }
    @include desktop {
      width: 329px;
      margin-top: 259px;
    }

    &--cream-bg {
      background: $secondaryColor;
    }

    &--caffe-bg {
      background: $coffeeColor;
    }

    &--milkshakes-bg {
      background: $milkshakeColor;
    }
  }

  &__wrap {
    position: relative;
  }

  &__img {
    display: flex;
    position: absolute;
    width: 249px;
    left: 50%;
    transform: translate(-50%, -50%);

    @include tablet {
      width: 220px;
    }

    @include desktop {
      width: 335px;
    }
  }

  &__title {
    font-family: 'Titan One', cursive;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 1.145em;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    color: $primaryColor;
    padding-top: 160px;
    padding-bottom: 30px;
    @include tablet {
      font-size: 23px;
    }
    @include desktop {
      font-size: 30px;
      padding-bottom: 32px;
      padding-top: 193px;
    }
  }

  &__list-dot {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 30px;

    @include desktop {
      padding-bottom: 30px;
    }
  }

  &__item-dot::after {
    content: '';
    display: flex;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 4px;
    background-color: $primaryColor;
  }

  &__content {
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.04em;
    line-height: 1.52em;
    color: $primaryColor;
    margin-bottom: 30px;
    padding: 0px 39px 0px 41px;

    @include tablet {
      padding: 0 11px;
    }
    @include desktop {
      font-size: 16px;
      padding: 0 44px;
    }
  }
}
