/* jasne tło, białe napisy, przycisk biały */
$primaryColor: #ffffff;

/* header tło */
$secondaryColor: #ffb8ca;

/* jasny róż tło */
$tertiaryColor: #fff5f6;

/* przycisk czerwony, hoover ikony social, hoover napisy menu, kolor nr tel, duże napisy, napisy button */
$redColor: #d41443;

/* tło dookoła loda, napisy, ikony social */
$iceColor: #ffa5ba;

/* tło menu hamburger */
$hamburgerColor: #e17992;

/* hamburger – border pomiędzy napisami */
$hamburgerBorderColor: #e18298;

/* przycisk our location plus hoover*/
$buttonFirstColor: #d41342;

/* przycisk biały hoover */
$buttonSecondColor: #ecebeb;

/* przycisk products hoover */
$buttonThirdColor: #c7133e;

/* kolor kawowy */
$coffeeColor: #f0d1a5;

/* kolor milkshake / foodtruck */
$milkshakeColor: #c2e297;

/* kolor wypełnienie ikony cytatu */
$quoteColor: #e1e1e1;

/* kolor tła cytatu */
$quoteBgColor: #fafafa;

/* kolor czcionki czarny */
$firstFontColor: #000000;

/* kolor czcionki szary */
$secondFontColor: #907e82;

/* customer kropki czerwone */
$customerFirstColor: #c7133e;

/* customer domek */
$customerSecondColor: #d31342;

/* customer szare kropki */
$customerThirdColor: #d9d9d9;

$font-titan: 'Titan One', cursive;
$font-dm-sans: 'DM Sans', sans-serif;

$borderThin: 1px;
$borderRegular: 2px;

$borderRadiusSocial: 50%;
$borderRadiusButton: 20px;
$borderRadiusProducts: 24px;
$borderRadiusContacts: 30px;

$transitionDurationDefault: 300ms;
$transitionTimingDefault: cubic-bezier(0.4, 0, 0.3, 1);
