@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
/* jasne tło, białe napisy, przycisk biały */
/* header tło */
/* jasny róż tło */
/* przycisk czerwony, hoover ikony social, hoover napisy menu, kolor nr tel, duże napisy, napisy button */
/* tło dookoła loda, napisy, ikony social */
/* tło menu hamburger */
/* hamburger – border pomiędzy napisami */
/* przycisk our location plus hoover*/
/* przycisk biały hoover */
/* przycisk products hoover */
/* kolor kawowy */
/* kolor milkshake / foodtruck */
/* kolor wypełnienie ikony cytatu */
/* kolor tła cytatu */
/* kolor czcionki czarny */
/* kolor czcionki szary */
/* customer kropki czerwone */
/* customer domek */
/* customer szare kropki */
* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "DM Sans", sans-serif;
  color: #ffffff;
}

.container {
  max-width: 480px;
  padding: 0 20px;
  margin: 0 auto;
}

svg {
  vertical-align: middle;
}

.button {
  display: flex;
  align-items: center;
  height: 24px;
  background-color: #ffffff;
  color: #d41443;
  fill: #d41443;
  border-radius: 20px;
  padding: 0 13.6px;
  font-family: "DM Sans", sans-serif;
  font-size: 8px;
  line-height: 10px;
  cursor: pointer;
  border: none;
  justify-content: center;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.3, 1);
}
.button:not(.nohover):hover, .button:not(.nohover):focus {
  background-color: #ecebeb;
}
.button--opposite-color {
  background-color: #d41443;
  color: #ffffff;
  fill: #ffffff;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.3, 1);
}
.button--opposite-color:hover, .button--opposite-color:focus {
  background-color: #c7133e;
}
.button--open-burger {
  width: 100%;
  height: 44px;
  gap: 16px;
  padding: 0;
  fill: #d41443;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}
.button--products {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  background-image: url(../images/products/products-arrow.png);
  background-position: center;
  background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .button--products {
    background-image: url(../images/products/products-arrow@2x.png);
  }
}
@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .button--products {
    background-image: url(../images/products/products-arrow@3x.png);
  }
}
.button--about {
  height: 44px;
  gap: 14px;
  padding: 0 37px;
  border-radius: 22px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  fill: #d41443;
}
.button--contacts {
  height: 44px;
  width: 161px;
  gap: 13px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}
.button--contacts-locations {
  background-color: #d41342;
  fill: #ffffff;
  color: #ffffff;
}
.button--socials {
  width: 32px;
  height: 32px;
  background-color: #fea5bb;
  fill: #ffffff;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.3, 1);
}
.button--socials:hover, .button--socials:focus {
  background-color: #d41443;
}

@media screen and (min-width: 768px) {
  .button--header {
    height: 44px;
    width: 160px;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
  }
  .button--open-burger {
    width: 100%;
    height: 44px;
    margin: 0 10px;
    gap: 22px;
  }
  .button--about {
    font-size: 16px;
    line-height: 21px;
  }
  .button--contacts {
    width: 174px;
  }
  .button--contacts-locations {
    width: 191px;
  }
  .button--socials {
    width: 34px;
    height: 34px;
  }
}
@media screen and (min-width: desktop) {
  .button {
    height: 40px;
    padding: 0 21px;
    font-size: 14px;
    line-height: 18px;
  }
  .button--header {
    width: 159px;
  }
  .button--open-burger {
    display: none;
  }
  .button--contacts {
    width: 180px;
  }
  .button--contacts-locations {
    width: 198px;
  }
}
.header {
  position: relative;
  padding: 6px 20px 160px;
  background-color: #ffb8ca;
  min-height: 502px; /* ----------------- ONLY FOR TESTING!! */
  overflow: hidden;
}
.header__circle-bg {
  width: 346px;
  height: 344px;
  position: absolute;
  top: 83px;
  left: 36px;
  border-radius: 50%;
  background-color: #ffa5ba;
  z-index: 0;
}
.header__hero-ice-cream {
  position: absolute;
  bottom: 0;
  left: 117px;
  width: 171px;
  height: auto;
  display: block;
}
.header__center {
  display: flex;
  flex-direction: column;
}
.header__text {
  position: absolute;
  left: 20px;
  top: 193px;
  width: 218px;
}
.header__text-white {
  font-family: Titan One;
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #fff;
}
.header__text-red {
  font-family: Titan One;
  font-size: 48px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: center;
  color: #d41443;
}
.header__buttons {
  list-style: none;
  display: flex;
  gap: 8px;
  margin-top: 19px;
}
.header__button {
  display: flex;
  align-items: center;
  height: 24px;
  background-color: #ffffff;
  color: #d41443;
  fill: #d41443;
  border-radius: 20px;
  padding: 0 13.6px;
  font-family: "DM Sans", sans-serif;
  font-size: 8px;
  line-height: 10px;
  cursor: pointer;
  border: none;
  justify-content: center;
}
.header__button:hover, .header__button:focus {
  background-color: #ececec;
}
.header__button--opposite-color {
  background-color: #d41443;
  color: #fff;
  fill: #fff;
}
.header__button--opposite-color:hover, .header__button--opposite-color:focus {
  background-color: #c7133e;
}
.header__hero-girl {
  display: hidden;
  opacity: 0;
}
.header__hero-milk {
  display: none;
}

.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
.nav__links {
  display: none;
}
.nav__button {
  font-family: DM Sans;
  font-weight: 700;
  line-height: 1.31;
  letter-spacing: 0em;
  background-color: #d41443;
  display: none;
  color: #fff;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #e17992;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.menu-container.is-open {
  transform: translateX(0);
}
.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
}

.menu-toggle {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  transition: color 250ms ease-in-out;
}
.menu-toggle:hover, .menu-toggle:focus {
  color: #fff;
}

/* =============================== MEDIA =====================*/
@media screen and (min-width: 768px) {
  .header {
    min-height: 399px; /* ----------------- ONLY FOR TESTING!! */
    padding: 37px 34px 34px;
  }
  .header__circle-bg {
    width: 324px;
    height: 332px;
    top: 31px;
    left: 307px;
  }
  .header__text {
    display: none;
  }
  .header__hero-ice-cream {
    position: absolute;
    bottom: 0;
    left: 378px;
    width: 143px;
    height: auto;
    display: block;
  }
  .header__hero-girl {
    display: initial;
    position: absolute;
    bottom: 0;
    left: 566px;
    width: 168px;
    height: auto;
    display: block;
    opacity: 1;
  }
  .header__hero-milk {
    display: initial;
    position: absolute;
    bottom: 28px;
    left: 34px;
    width: 124px;
    height: auto;
    display: block;
  }
  .menu-toggle {
    margin-left: auto;
  }
  .nav {
    gap: 30px;
  }
  .nav__button {
    display: initial;
    width: 158px;
    height: 44px;
    border-radius: 22px;
    border: none;
  }
  .nav__button:hover, .nav__button:focus {
    cursor: pointer;
    outline: none;
    color: #d41443;
    background-color: #ecebeb;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    min-height: 665px; /* ----------------- ONLY FOR TESTING!! */
    padding: 37px 115px 56px 46px;
    background-color: #ffb8ca;
  }
  .header__circle-bg {
    width: 538px;
    height: 538px;
    top: 52px;
    left: 475px;
  }
  .header__hero-ice-cream {
    left: 594px;
    width: 236px;
    height: auto;
    display: block;
  }
  .header__hero-girl {
    left: 878px;
    width: 293px;
    height: auto;
    display: block;
  }
  .header__hero-milk {
    bottom: 44px;
    left: 77px;
    width: 188px;
    height: auto;
    display: block;
  }
  .nav__links {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    gap: 35px;
  }
  .nav__link {
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.31;
    letter-spacing: 0em;
  }
  .nav__link:hover, .nav__link:focus {
    color: #d41443;
  }
  .nav .menu-toggle {
    display: none;
  }
}
.products {
  display: flex;
  flex-direction: column;
  margin-top: 121px;
  margin-bottom: -54px;
}
.products__description-title {
  font-family: "Titan One", cursive;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  line-height: 1.145em;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .products__description-title {
    font-size: 26px;
  }
}
@media screen and (min-width: desktop) {
  .products__description-title {
    font-size: 30px;
  }
}
.products__title-section {
  font-family: "Titan One", cursive;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.145em;
  letter-spacing: 0.04em;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 144px;
}
@media screen and (min-width: 768px) {
  .products__title-section {
    font-size: 48px;
  }
}
@media screen and (min-width: desktop) {
  .products__title-section {
    font-size: 58px;
  }
}
.products__wrapper {
  max-width: 280px;
  border-radius: 24px;
  padding-bottom: 41px;
  margin: 0 auto;
  margin-bottom: 17px;
  gap: 17px;
}
@media screen and (min-width: 768px) {
  .products__wrapper {
    max-width: 220px;
  }
}
@media screen and (min-width: desktop) {
  .products__wrapper {
    max-width: 329px;
  }
}
.products__wrapper--cream-bg {
  background: #ffb8ca;
}
.products__wrapper--caffe-bg {
  background: #f0d1a5;
}
.products__wrapper--milkshakes-bg {
  background: #c2e297;
}
.products__wrap {
  position: relative;
  margin-bottom: 135px;
}
.products__img {
  display: flex;
  position: absolute;
  width: 249px;
  height: 252px;
  margin: 0 auto;
  left: 50%;
  transform: translate(-50%, -50%);
}
.products__title {
  font-family: "Titan One", cursive;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 1.145em;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 160px;
  margin-bottom: 30px;
}
.products__list-dot {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 30px;
}
.products__item-dot::after {
  content: "";
  display: flex;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 4px;
  background-color: #ffffff;
}
.products__content {
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.04em;
  line-height: 1.52em;
  color: #ffffff;
  padding: 0px 39px 0px 41px;
  margin-bottom: 30px;
}

.about-wrapper {
  background: #fff5f6;
  padding-bottom: 39px;
  margin: 0px;
}

.about-title {
  display: flex;
  flex-direction: column;
  padding: 125px 40px 26px 40px;
  font-family: "Titan One", cursive;
}
.about-title__text {
  font-size: 18px;
  line-height: 1.66;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
}
.about-title__header {
  font-size: 34px;
  line-height: 1.147;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

.milk-background {
  background-image: url("../images/about/about-bg-mobile@2x.png");
  background-size: 100vw;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
}

.about-cow {
  display: flex;
  margin: 0px auto;
  padding-bottom: 46px;
  justify-content: center;
}

.about-text {
  padding: 0px 30px 17px 30px;
  display: flex;
  flex-direction: column;
  font-family: "DM Sans", sans-serif;
  gap: 45px;
}
.about-text__black {
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  color: #000000;
  text-align: left;
}
.about-text__grey {
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  color: #907e82;
}

.about-button {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.285;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  color: #d41443;
  background: #ffffff;
  border-radius: 22px;
  border: none;
  margin: 0 auto;
  width: 176px;
  height: 44px;
}
.about-button__svg {
  fill: #d41443;
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.about-info {
  padding: 39px 50px 106px 0px;
  display: flex;
  flex-direction: column;
  gap: 38px;
}
.about-info__element {
  display: flex;
  gap: 12px;
  flex-direction: column;
}
.about-info__img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.about-info__numbers {
  font-size: 36px;
  line-height: 1.138;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  font-family: "Titan One", cursive;
}
.about-info__text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  color: #000000;
  font-family: "DM Sans", sans-serif;
}

.advantages {
  background-color: #fff5f6;
  padding: 39px 50px 97px 0;
}
@media screen and (min-width: 768px) {
  .advantages {
    padding: 66px 76px 140px 16px;
  }
}
@media screen and (min-width: desktop) {
  .advantages {
    padding: 39px 95px 139px 95px;
  }
}
.advantages__header {
  display: none;
}
.advantages__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 38px;
}
@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-direction: row;
    gap: 60px;
  }
}
@media screen and (min-width: desktop) {
  .advantages__list {
    gap: 30px;
  }
}
.advantages__element {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: desktop) {
  .advantages__element {
    gap: 15px;
  }
}
.advantages__img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (min-width: 768px) {
  .advantages__img {
    padding-bottom: 20px;
  }
}
@media screen and (min-width: desktop) {
  .advantages__img {
    padding-bottom: 25px;
  }
}
.advantages__number {
  color: #d41443;
  font-family: "Titan One", cursive;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.145;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .advantages__number {
    font-size: 48px;
  }
}
@media screen and (min-width: desktop) {
  .advantages__number {
    font-size: 58px;
  }
}
.advantages__text {
  color: #000000;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.7;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .advantages__text {
    font-size: 14px;
  }
}
@media screen and (min-width: desktop) {
  .advantages__text {
    font-size: 16px;
    min-width: 330px;
  }
}

@media screen and (min-width: desktop) {
  .container {
    max-width: 1280px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 786px;
  }
}

.gallery {
  height: 122px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to bottom, #fff5f6 40%, #ffffff 60%);
  text-align: center;
}
@media screen and (min-width: desktop) {
  .gallery {
    height: 430px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .gallery {
    height: 264px;
    text-align: center;
  }
}
.gallery__container {
  display: flex;
  justify-content: center;
}

.contacts {
  background-color: #fff5f6;
}
.contacts__title {
  display: none;
}
.contacts-grid {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 20px;
}
.contacts__element {
  width: 220px;
  margin: 0 auto;
  padding: 43px 20px;
  background-color: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}
.contacts__section {
  display: flex;
  flex-direction: column;
  padding: 25px 0;
  border-bottom: 1px solid #e1e1e1;
  gap: 10px;
}
.contacts__unit-type {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 16px;
  background-color: #f0d1a5;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
}
.contacts__unit-type--foodtruck {
  background-color: #c2e297;
  width: 130px;
}
.contacts__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: #000000;
}
.contacts__text--time {
  color: #ffa5ba;
  margin-top: -2px;
}
.contacts__description {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #907e82;
}
.contacts__contact-details {
  margin-top: 25px;
}
.contacts__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #907e82;
}
.contacts__buttons-container {
  display: flex;
  flex-direction: column;
  margin-top: 54px;
  gap: 10px;
  align-items: center;
}

.footer {
  background-color: #fff5f6;
}
.footer__container {
  display: flex;
  flex-direction: column;
  gap: 46px;
}
.footer__text {
  text-align: left;
  max-width: 240px;
}
.footer__text--small {
  font-family: "Titan One", cursive;
  color: #ffa5ba;
  text-transform: uppercase;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 17px;
}
.footer__text--big {
  font-family: "Titan One", cursive;
  color: #d41342;
  text-transform: uppercase;
  font-style: normal;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 0.04em;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer__social {
  display: flex;
  gap: 28px;
  justify-content: flex-end;
}
.footer__social-item {
  background-color: #FEA5BB;
  fill: #ffffff;
  border-radius: 50%;
  font-size: 0px;
  display: flex;
  transition-property: background-color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.3, 1);
}
.footer__social-item:hover, .footer__social-item:focus {
  background-color: #d41342;
}
.footer__invitation {
  display: flex;
  gap: 3px;
  margin: 46px 0 40px;
}
.footer__feel-item {
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  color: #000000;
  font-weight: 700;
  line-height: 1.86;
}
.footer__phone-item {
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  color: #d41342;
  font-weight: 500;
  line-height: 1.86;
  text-decoration: none;
}
.footer__ending {
  border-top: 1px solid #E1E1E1;
  display: flex;
  justify-content: center;
  background-color: #fff5f6;
  margin: 0 -20px;
}
.footer__copyright {
  font-family: "DM Sans", sans-serif;
  color: #907e82;
  font-size: 14px;
  font-weight: 700;
  font-style: bold;
  line-height: 1.52;
  margin: 21px 0 32px;
  max-width: 144px;
}/*# sourceMappingURL=main.css.map */