@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
/* jasne tło, białe napisy, przycisk biały */
/* header tło */
/* jasny róż tło */
/* przycisk czerwony, hoover ikony social, hoover napisy menu, kolor nr tel, duże napisy, napisy button */
/* tło dookoła loda, napisy, ikony social */
/* tło menu hamburger */
/* hamburger – border pomiędzy napisami */
/* przycisk our location plus hoover*/
/* przycisk biały hoover */
/* przycisk products hoover */
/* kolor kawowy */
/* kolor milkshake / foodtruck */
/* kolor wypełnienie ikony cytatu */
/* kolor tła cytatu */
/* kolor czcionki czarny */
/* kolor czcionki szary */
/* customer kropki czerwone */
/* customer domek */
/* customer szare kropki */
* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "DM Sans", sans-serif;
  color: #ffffff;
}

.container {
  max-width: 480px;
  padding: 0 20px;
  margin: 0 auto;
}

svg {
  vertical-align: middle;
}

.button {
  display: flex;
  align-items: center;
  height: 24px;
  background-color: #ffffff;
  color: #d41443;
  fill: #d41443;
  border-radius: 20px;
  padding: 0 13.6px;
  font-family: "DM Sans", sans-serif;
  font-size: 8px;
  line-height: 10px;
  cursor: pointer;
  border: none;
  justify-content: center;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.3, 1);
}
.button:hover, .button:focus {
  background-color: #ecebeb;
}
.button--opposite-color {
  background-color: #d41443;
  color: #ffffff;
  fill: #ffffff;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.3, 1);
}
.button--opposite-color:hover, .button--opposite-color:focus {
  background-color: #c7133e;
}
.button--open-burger {
  width: 100%;
  height: 44px;
  gap: 16px;
  padding: 0;
  fill: #d41443;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}
.button--products {
  width: 40px;
  height: 40px;
  padding: 0;
  background-image: url(../images/products/products-arrow.png);
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .button--products {
    background-image: url(../images/products/products-arrow@2x.png);
  }
}
@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .button--products {
    background-image: url(../images/products/products-arrow@3x.png);
  }
}
.button--about {
  height: 44px;
  gap: 14px;
  padding: 0 37px;
  border-radius: 22px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  fill: #d41443;
}
.button--contacts {
  height: 44px;
  width: 161px;
  gap: 13px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  background-color: #d41342;
}
.button--socials {
  width: 32px;
  height: 32px;
  background-color: #fea5bb;
  fill: #ffffff;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.3, 1);
}
.button--socials:hover, .button--socials:focus {
  background-color: #d41443;
}

@media screen and (min-width: 768px) {
  .button--header {
    height: 44px;
    width: 160px;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
  }
  .button--open-burger {
    width: 100%;
    height: 44px;
    margin: 0 10px;
    gap: 22px;
  }
  .button--about {
    font-size: 16px;
    line-height: 21px;
  }
  .button--contacts {
    width: 191px;
  }
  .button--contacts-franchise {
    width: 174px;
  }
  .button--socials {
    width: 34px;
    height: 34px;
  }
}
@media screen and (min-width: desktop) {
  .button {
    height: 40px;
    padding: 0 21px;
    font-size: 14px;
    line-height: 18px;
  }
  .button--header {
    width: 159px;
  }
  .button--open-burger {
    display: none;
  }
  .button--contacts {
    width: 198px;
  }
  .button--contacts-franchise {
    width: 180px;
  }
}
.product {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 121px;
  margin-bottom: 98px;
}
.product__description-title {
  font-family: "Titan One", cursive;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 15px;
}
.product__title-section {
  font-family: "Titan One", cursive;
  font-weight: 400;
  font-size: 34px;
  letter-spacing: 0.04em;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #d41443;
}
.product__wrapper {
  width: 100%;
  border-radius: 24px;
  padding-bottom: 41px;
  margin: 0 auto;
}
.product__wrapper--cream-bg {
  background: #ffb8ca;
}
.product__wrapper--caffe-bg {
  background: #f0d1a5;
}
.product__wrapper--milkshakes-bg {
  background: #c2e297;
}
.product__wrap {
  margin-top: -100px;
}
.product__img {
  display: flex;
  position: relative;
  vertical-align: middle;
  margin: 0 auto;
  top: 135px;
}
.product__title {
  font-family: "Titan One", cursive;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 160px;
  margin-bottom: 30px;
}
.product__list-dot {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 30px;
}
.product__item-dot::after {
  content: "";
  display: flex;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 4px;
  background-color: #ffffff;
}
.product__content {
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.04em;
  line-height: 21.28px;
  color: #ffffff;
  padding: 0px 39px 0px 41px;
  margin-bottom: 30px;
}
.product__button-postion {
  margin: 0 auto;
}

.about-wrapper {
  background: #fff5f6;
  padding-bottom: 39px;
  margin: 0px;
}

.about-title {
  display: flex;
  flex-direction: column;
  padding: 125px 40px 26px 40px;
  font-family: "Titan One", cursive;
}
.about-title__text {
  font-size: 18px;
  line-height: 1.66;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
}
.about-title__header {
  font-size: 34px;
  line-height: 1.147;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

.milk-background {
  background-image: url("../images/about/about-bg-mobile@2x.png");
  background-size: 100vw;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
}

.about-cow {
  display: flex;
  margin: 0px auto;
  padding-bottom: 46px;
  justify-content: center;
}

.about-text {
  padding: 0px 30px 17px 30px;
  display: flex;
  flex-direction: column;
  font-family: "DM Sans", sans-serif;
  gap: 45px;
}
.about-text__black {
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  color: #000000;
  text-align: left;
}
.about-text__grey {
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  color: #907e82;
}

.about-button {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.285;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  color: #d41443;
  background: #ffffff;
  border-radius: 22px;
  border: none;
  margin: 0 auto;
  width: 176px;
  height: 44px;
}
.about-button__svg {
  fill: #d41443;
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.about-info {
  padding: 39px 50px 106px 0px;
  display: flex;
  flex-direction: column;
  gap: 38px;
}
.about-info__element {
  display: flex;
  gap: 12px;
  flex-direction: column;
}
.about-info__img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.about-info__numbers {
  font-size: 36px;
  line-height: 1.138;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  font-family: "Titan One", cursive;
}
.about-info__text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  color: #000000;
  font-family: "DM Sans", sans-serif;
}

.advantages {
  background-color: #fff5f6;
  padding: 39px 50px 97px 0;
}
.advantages__header {
  display: none;
}
.advantages__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 38px;
}
.advantages__element {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.advantages__img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.advantages__number {
  color: #d41443;
  font-family: "Titan One", cursive;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.145;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.advantages__text {
  color: #000000;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.7;
  letter-spacing: 0.02em;
}

@media screen and (min-width: desktop) {
  .container {
    max-width: 1280px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 786px;
  }
}

.gallery {
  height: 122px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to bottom, #fff5f6 40%, #ffffff 60%);
  text-align: center;
}
@media screen and (min-width: desktop) {
  .gallery {
    height: 430px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .gallery {
    height: 264px;
    text-align: center;
  }
}
.gallery__container {
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=main.css.map */