@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
/* jasne tło, białe napisy, przycisk biały */
/* header tło */
/* jasny róż tło */
/* przycisk czerwony, hoover ikony social, hoover napisy menu, kolor nr tel, duże napisy, napisy button */
/* tło dookoła loda, napisy, ikony social */
/* tło menu hamburger */
/* hamburger – border pomiędzy napisami */
/* przycisk our location plus hoover*/
/* przycisk biały hoover */
/* przycisk products hoover */
/* kolor kawowy */
/* kolor milkshake / foodtruck */
/* kolor wypełnienie ikony cytatu */
/* kolor tła cytatu */
/* kolor czcionki czarny */
/* kolor czcionki szary */
/* customer kropki czerwone */
/* customer domek */
/* customer szare kropki */
* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Titan One", cursive;
  color: #ffffff;
}

.container {
  max-width: 480px;
  padding: 0 20px;
  margin: 0 auto;
}

svg {
  vertical-align: middle;
}

.button {
  display: flex;
  align-items: center;
  height: 24px;
  background-color: #ffffff;
  color: #d41443;
  fill: #d41443;
  border-radius: 20px;
  padding: 0 13.6px;
  font-family: "DM Sans", sans-serif;
  font-size: 8px;
  line-height: 10px;
  cursor: pointer;
  border: none;
  justify-content: center;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.3, 1);
}
.button:hover, .button:focus {
  background-color: #ecebeb;
}
.button--opposite-color {
  background-color: #d41443;
  color: #ffffff;
  fill: #ffffff;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.3, 1);
}
.button--opposite-color:hover, .button--opposite-color:focus {
  background-color: #c7133e;
}
.button--open-burger {
  width: 100%;
  height: 44px;
  gap: 16px;
  padding: 0;
  fill: #d41443;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}
.button--products {
  width: 40px;
  height: 40px;
  padding: 0;
  background-image: url(../images/products/products-arrow.png);
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .button--products {
    background-image: url(../images/products/products-arrow@2x.png);
  }
}
@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .button--products {
    background-image: url(../images/products/products-arrow@3x.png);
  }
}
.button--about {
  height: 44px;
  gap: 14px;
  padding: 0 37px;
  border-radius: 22px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  fill: #d41443;
}
.button--contacts {
  height: 44px;
  width: 161px;
  gap: 13px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  background-color: #d41342;
}
.button--socials {
  width: 32px;
  height: 32px;
  background-color: #fea5bb;
  fill: #ffffff;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.3, 1);
}
.button--socials:hover, .button--socials:focus {
  background-color: #d41443;
}

@media screen and (min-width: 768px) {
  .button--header {
    height: 44px;
    width: 160px;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
  }
  .button--open-burger {
    width: 100%;
    height: 44px;
    margin: 0 10px;
    gap: 22px;
  }
  .button--about {
    font-size: 16px;
    line-height: 21px;
  }
  .button--contacts {
    width: 191px;
  }
  .button--contacts-franchise {
    width: 174px;
  }
  .button--socials {
    width: 34px;
    height: 34px;
  }
}
@media screen and (min-width: desktop) {
  .button {
    height: 40px;
    padding: 0 21px;
    font-size: 14px;
    line-height: 18px;
  }
  .button--header {
    width: 159px;
  }
  .button--open-burger {
    display: none;
  }
  .button--contacts {
    width: 198px;
  }
  .button--contacts-franchise {
    width: 180px;
  }
}
.about-wrapper {
  background: #fff5f6;
}

.about-title {
  display: flex;
  flex-direction: column;
}
.about-title__text {
  font-size: 18px;
  line-height: 1.66;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
}
.about-title__header {
  font-size: 34px;
  line-height: 1.147;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

.advantages {
  display: flex;
  flex-direction: column;
  background-color: #fff5f6;
  padding: 39px 50px 106px 0px;
  gap: 38px;
}
.advantages__header {
  display: none;
}
.advantages__list {
  list-style: none;
  text-align: left;
}
.advantages__element {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.advantages__number {
  color: #d41443;
  font-family: "Titan One", cursive;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.145;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.advantages__text {
  color: #000000;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.7;
  letter-spacing: 0.02em;
}/*# sourceMappingURL=main.css.map */