<section class="about-wrapper">
  <div class="container">
    <div class="about-title">
      <p class="about-title__text">tradition and love</p>
      <h2 class="about-title__header">how it’s made?</h2>
    </div>
  </div>

  <img
    class="about-cow"
    alt="happy cow with bottle of milk"
    src="images/about/about-cow-desktop.png"
    srcset="
      images/about/about-cow-desktop.png     516w,
      images/about/about-cow-desktop@2x.png 1032w,
      images/about/about-cow-tablet.png      340w,
      images/about/about-cow-tablet@2x.png   680w,
      images/about/about-cow-mobile.png      280w,
      images/about/about-cow-mobile@2x.png   560w
    "
    sizes="(min-width: 1280px) 516px, (min-width: 768px) 340px, (min-width: 320px) 280px , 100vw"
  />
  <div class="milk-background">
    <div class="container">
      <div class="about-text">
        <p class="about-text__black">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about-text__grey">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt. <br> <br> Aliquam erat volutpat. Aenean accumsan.
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <button class="about-button" type="submit">
      Read more
      <svg class="about-button__svg" width="4.43" height="8">
        <use href="./images/icons.svg#icon-greater-than"></use>
      </svg>
    </button>
  </div>
  <div class="container">
    <div class="about-info">
      <div class="about-info__element">
        <img
          class="about-info__img"
          alt="bucket"
          src="images/about/about-milk.png"
          srcset="images/about/about-milk.png 33w, images/about/about-milk@2x.png 66w"
          sizes="33px"
        />
        <p class="about-info__numbers">721</p>
        <p class="about-info__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </div>
      <div class="about-info__element">
        <img
          class="about-info__img"
          alt="bucket full of apples"
          src="images/about/about-apples.png"
          srcset="images/about/about-apples.png 50w, images/about/about-apples@2x.png 100w"
          sizes="50px"
        />
        <p class="about-info__numbers">16kg</p>
        <p class="about-info__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </div>
      <div class="about-info__element">
        <img
          class="about-info__img"
          alt="heart icon"
          src="images/about/about-heart.png"
          srcset="images/about/about-heart.png 44w, images/about/about-heart@2x.png 88w"
          sizes="44px"
        />
        <p class="about-info__numbers">84</p>
        <p class="about-info__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </div>
    </div>
  </div>
</section>
