<section class="container advantages">
  <h4 class="advantages__header">Advantages</h4>
  <ul class="advantages__list">
    <li>
      <div>
        <img
          src="images/advantages/bucket.png"
          alt="bucket"
          width="33"
          height="50"
          srcset="images/bucket@2x.png 33w"
        />
      </div>
      <span class="advantages__number">721</span>
      <p class="advantages__article">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li>
      <div>
        <img
          src="images/advantages/basket.png"
          alt="basket"
          width="50"
          height="50"
          srcset="images/basket@2x.png 50w"
        />
      </div>
      <span class="advantages__number">16kg</span>
      <p class="advantages__article">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li>
      <div>
        <img
          src="images/advantages/lollipop.png"
          alt="basket"
          width="44"
          height="50"
          srcset="images/lollipop@2x.png 44w"
        />
      </div>
      <span class="advantages__number">84</span>
      <p class="advantages__article">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
  </ul>
</section>
