<section class="container advantages">
  <h4 class="advantages__header">Advantages</h4>
  <ul class="advantages__list">
    <li>
      <div class="advantages__element">
        <img
          class="advantages__img"
          src="images/advantages/bucket.png"
          alt="bucket with milk"
          srcset="images/advantages/bucket.png 33w, images/advantages/bucket@2x.png 66w"
          sizes="33px"
        />
      </div>
      <span class="advantages__number">721</span>
      <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li>
      <div class="advantages__element">
        <img
          class="advantages__img"
          src="images/advantages/basket.png"
          alt="basket with apples"
          srcset="images/advantages/basket.png 50w, images/advantages/basket@2x.png 100w"
          sizes="50px"
        />
      </div>
      <span class="advantages__number">16kg</span>
      <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li>
      <div class="advantages__element">
        <img
          class="advantages__img"
          src="images/advantages/lollipop.png"
          alt="heart-shaped lollipop"
          srcset="images/advantages/lollipop.png 44w, images/advantages/lollipop@2x.png 88w"
          sizes="44px"
        />
      </div>
      <span class="advantages__number">84</span>
      <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
  </ul>
</section>
