<section class="container contacts">
  <h2 class="contacts__title">Contacts</h2>
  <div class="contacts-grid">
    <div class="contacts__element">
      <p class="contacts__unit-type">CAFE</p>
      <div class="contacts__section">
        <h2 class="contacts__text">Chicago</h2>
        <p class="contacts__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      </div>
      <!-- kreska -->
      <div class="contacts__section">
        <div>
          <h2 class="contacts__text">Monday - Friday</h2>
          <p class="contacts__text contacts__text--time">06:00 AM - 10:00 PM</p>
        </div>
        <div>
          <h2 class="contacts__text">Saturday - Sunday</h2>
          <p class="contacts__text contacts__text--time">08:00 AM - 16:00 PM</p>
        </div>
      </div>
      <!-- kreska -->
      <div class="contacts__contact-details">
        <a class="contacts__link" href="tel:+610383766284">+61(0) 383 766 284</a>
        <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </div>
    </div>

    <div class="contacts__element">
      <p class="contacts__unit-type contacts__unit-type--foodtruck">FOODTRUCK</p>
      <div class="contacts__section">
        <h2 class="contacts__text">Los Angeles</h2>
        <p class="contacts__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      </div>
      <!-- kreska -->
      <div class="contacts__section">
        <div>
          <h2 class="contacts__text">Monday - Friday</h2>
          <p class="contacts__text contacts__text--time">06:00 AM - 10:00 PM</p>
        </div>
        <div>
          <h2 class="contacts__text">Saturday - Sunday</h2>
          <p class="contacts__text contacts__text--time">08:00 AM - 16:00 PM</p>
        </div>
      </div>
      <!-- kreska -->
      <div class="contacts__contact-details">
        <a class="contacts__link" href="tel:+610383766284">+61(0) 383 766 284</a>
        <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </div>
    </div>

    <div class="contacts__element">
      <p class="contacts__unit-type">CAFE</p>
      <div class="contacts__section">
        <h2 class="contacts__text">New York</h2>
        <p class="contacts__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      </div>
      <!-- kreska -->
      <div class="contacts__section">
        <div>
          <h2 class="contacts__text">Monday - Friday</h2>
          <p class="contacts__text contacts__text--time">06:00 AM - 10:00 PM</p>
        </div>
        <div>
          <h2 class="contacts__text">Saturday - Sunday</h2>
          <p class="contacts__text contacts__text--time">08:00 AM - 16:00 PM</p>
        </div>
      </div>
      <!-- kreska -->
      <div class="contacts__contact-details">
        <a class="contacts__link" href="tel:+610383766284">+61(0) 383 766 284</a>
        <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </div>
    </div>
  </div>
  <!-- buttony -->
  <div class="contacts__buttons-container">
    <button class="button button--contacts button--contacts-locations nohover">
      Our locations
      <svg width="5.61" height="10">
        <use href="./images/icons.svg#icon-greater-than"></use>
      </svg>
    </button>
    <button class="button button--contacts">
      Franchise
      <svg width="6.2" height="10">
        <use href="./images/icons.svg#icon-greater-than"></use>
      </svg>
    </button>
  </div>
</section>
