<section class="container contacts">
<div class="contacts__element">
    <p class="contacts__unit-type--cafe">CAFE</p>
    <h2 class="contacts__city-name">Chicago</h2>
    <p class="contacts__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
    <!-- kreska -->
    <h2 class="contacts__open-days">Monday - Friday</h2>
    <p class="contacts__open-hours">06:00 AM - 10:00 PM</p>
    <h2 class="contacts__open-days">Saturday - Sunday</h2>
    <p class="contacts__open-hours">08:00 AM - 16:00 PM</p>
    <!-- kreska -->
    <div class="contacts__contact-details">
        <a href="tel:+610383766284">+61(0) 383 766 284</a>
        <a href="mailto:noreply@envato.com">noreply@envato.com</a>
    </div>
</div>

<div class="contacts__element">
    <p class="contacts__unit-type--foodtruck">FOODTRUCK</p>
    <h2 class="contacts__city-name">Los Angeles</h2>
    <p class="contacts__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
    <!-- kreska -->
    <h2 class="contacts__open-days">Monday - Friday</h2>
    <p class="contacts__open-hours">06:00 AM - 10:00 PM</p>
    <h2 class="contacts__open-days">Saturday - Sunday</h2>
    <p class="contacts__open-hours">08:00 AM - 16:00 PM</p>
    <!-- kreska -->
    <div class="contacts__contact-details">
        <a href="tel:+610383766284">+61(0) 383 766 284</a>
        <a href="mailto:noreply@envato.com">noreply@envato.com</a>
    </div>
</div>

<div class="contacts__element">
    <p class="contacts__unit-type--cafe">CAFE</p>
    <h2 class="contacts__city-name">New York</h2>
    <p class="contacts__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
    <!-- kreska -->
    <h2 class="contacts__open-days">Monday - Friday</h2>
    <p class="contacts__open-hours">06:00 AM - 10:00 PM</p>
    <h2 class="contacts__open-days">Saturday - Sunday</h2>
    <p class="contacts__open-hours">08:00 AM - 16:00 PM</p>
    <!-- kreska -->
    <div class="contacts__contact-details">
        <a href="tel:+610383766284">+61(0) 383 766 284</a>
        <a href="mailto:noreply@envato.com">noreply@envato.com</a>
    </div>
</div>
<!-- buttony -->
<button class="button button--contacts button--contacts-locations">
    Our locations
    <svg width="5.61" height="10">
      <use href="./images/icons.svg#icon-greater-than"></use>
    </svg>
  </button>
  <button class="button button--contacts">
    Franchise
    <svg width="6.2" height="10">
      <use href="./images/icons.svg#icon-greater-than"></use>
    </svg>
  </button>

</section>