<section class="reviews__section-container">
  <div class="swiper reviews-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="reviews__wrapper">
          <div class="reviews">
            <img
              class="reviews__picture"
              srcset="
                ./images/customers/customer-01.png    1x,
                ./images/customers/customer-01@2x.png 2x
              "
              src="./images/customers/customer-01.png"
              alt="happy client"
            />
            <div class="reviews__text-wraper">
              <div class="reviews__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </div>
            </div>
            <ul class="reviews__list">
              <li class="reviews__item"></li>
              <li class="reviews__item"></li>
              <li class="reviews__item"></li>
            </ul>
            <div class="reviews__name">Emily, Los Angeles</div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="reviews__wrapper">
          <div class="reviews">
            <img
              class="reviews__picture"
              srcset="
                ./images/customers/customer-02.png    1x,
                ./images/customers/customer-02@2x.png 2x
              "
              src="./images/customers/customer-02.png"
              alt="happy client"
            />
            <div class="reviews__text-wraper">
              <div class="reviews__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </div>
            </div>
            <ul class="reviews__list">
              <li class="reviews__item"></li>
              <li class="reviews__item"></li>
              <li class="reviews__item"></li>
            </ul>
            <div class="reviews__name">Emily, Los Angeles</div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="reviews__wrapper">
          <div class="reviews">
            <img
              class="reviews__picture"
              srcset="
                ./images/customers/customer-03.png    1x,
                ./images/customers/customer-03@2x.png 2x
              "
              src="./images/customers/customer-03.png"
              alt="happy client"
            />
            <div class="reviews__text-wraper">
              <div class="reviews__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </div>
            </div>
            <ul class="reviews__list">
              <li class="reviews__item"></li>
              <li class="reviews__item"></li>
              <li class="reviews__item"></li>
            </ul>
            <div class="reviews__name">Emily, Los Angeles</div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
