<section class="header">
  <!-- ============== HEADER START ============ -->

  <div class="header__container container">
    <nav class="nav">
      <!-- <div class="header__logo-container"> -->
      <a class="logo" href="#"
        ><img
          width="199"
          height="50"
          src="images/hero/logo.png"
          alt="Logo image"
          srcset="
            images/hero/logo.png    199w,
            images/hero/logo@2x.png 398w,
            images/hero/logo@3x.png 597w
          "
          sizes="(min-width:1280px) 199px, (min-width:768px) 398px, 597px"
      /></a>

      <!-- -----------Responsive nav Burger-button start ------ -->

      <!-- <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
        <svg width="20" height="12" fill="#000">
          <use href="images/icons.svg#icon-Burger"></use>
        </svg>
       </button> -->
      <div>
        <button class="menu__toggle menu__toggle--open js-open-menu">
          <svg width="20" height="12">
            <use href="./images/icons.svg#icon-Burger"></use>
          </svg>
        </button>
      </div>
      <!-- -----------Responsive nav Burger-button end--------- -->

      <ul class="nav__links">
        <li><a class="nav__link" href="#">Home</a></li>
        <li><a class="nav__link" href="#products">About us</a></li>
        <li><a class="nav__link" href="#about-us">How it's made?</a></li>
        <li><a class="nav__link" href="#gallery">Our products</a></li>
        <li><a class="nav__link" href="#contacts">Contact</a></li>
      </ul>
      <button type="submit" class="button button--buy-bt">
        <span class="menu__buy-txt">Buy now</span>
        <svg width="7.3" height="10">
          <use href="images/icons.svg#icon-greater-than"></use>
        </svg>
      </button>
    </nav>
    <div class="header__circle-bg">
      <img
        class="header__hero-ice-cream"
        width="171"
        height="410"
        src="images/hero/hero-cone-mobile.png"
        alt="Logo image"
        srcset="
          images/hero/hero-cone-tablet.png     143w,
          images/hero/hero-cone-mobile.png     171w,
          images/hero/hero-cone-desktop.png    236w,
          images/hero/hero-cone-tablet@2x.png  286w,
          images/hero/hero-cone-mobile@2x.png  342w,
          images/hero/hero-cone-tablet@3x.png  429w,
          images/hero/hero-cone-desktop@2x.png 472w,
          images/hero/hero-cone-mobile@3x.png  513w,
          images/hero/hero-cone-desktop@3x.png 708w
        "
        sizes="(min-width:1280px) 236px, (min-width:768px) 143px, 171px"
      />
      <div class="header__center">
        <div class="header__text">
          <p class="header__text-white">
            ICE CREAM MADE WITH <span class="header__text-red">PASSION</span>
          </p>
          <ul class="header__buttons">
            <li>
              <a href="#"
                ><button type="button" class="button button--opposite-color">Products</button></a
              >
            </li>
            <li>
              <a href="#"><button type="button" class="button">How it's made</button></a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="header__description">
      <p class="header__description-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button class="header__button-description"></button>
    </div>
    <ul class="header__element">
      <li class="header__element-item">
        <span class="header__element-number">16</span>
        <span class="header__element-text">cafes</span>
        <svg
          class="header__element-circle"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="8" cy="8" r="8" transform="matrix(-1 0 0 1 16 0)" fill="white" />
        </svg>
      </li>
      <li class="header__element-item">
        <span class="header__element-number">23</span>
        <span class="header__element-text">food tracks</span>
        <svg
          class="header__element-circle"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="8" cy="8" r="8" transform="matrix(-1 0 0 1 16 0)" fill="white" />
        </svg>
      </li>
    </ul>
    <img
      class="header__hero-girl"
      width="168"
      height="133"
      src="images/hero/hero-girl-tablet.png"
      alt="Logo image"
      srcset="
        images/hero/hero-girl-tablet.png     168w,
        images/hero/hero-girl-desktop.png    293w,
        images/hero/hero-girl-tablet@2x.png  336w,
        images/hero/hero-girl-tablet@3x.png  504w,
        images/hero/hero-girl-desktop@2x.png 586w,
        images/hero/hero-girl-desktop@3x.png 879w
      "
      sizes="(min-width:1280px) 188px, 124px"
    />
    <img
      class="header__hero-milk"
      width="124"
      height="126"
      src="images/hero/hero-jug-tablet.png"
      alt="Logo image"
      srcset="
        images/hero/hero-jug-tablet.png     124w,
        images/hero/hero-jug-desktop.png    188w,
        images/hero/hero-jug-tablet@2x.png  248w,
        images/hero/hero-jug-tablet@3x.png  372w,
        images/hero/hero-jug-desktop@2x.png 376w,
        images/hero/hero-jug-desktop@3x.png 564w
      "
      sizes="(min-width:1280px) 293px, 168px"
    />

    <!-- -----------------Responsive nav START----------- -->

    <!-- <div class="menu-container js-menu-container" id="mobile-menu">
      <button class="menu-toggle js-close-menu" type="button">
        <svg class="icon" width="24" height="24">
          <use href="images/icons.svg#icon-close"></use>
        </svg>
      </button>
      <div class="mobile-menu"></div>
    </div> -->
    <!-- -----------------Responsive nav END----------- -->
  </div>
</section>
