<div class="menu js-menu-container">
  <button class="menu__toggle menu__toggle--close js-close-menu">
    <svg class="menu__close" width="14" height="14">
      <use href="images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <div class="menu__container">
    <div class="menu__buy">
      <button type="submit" class="button button--mobile-menu">
        <span class="menu__buy-txt">Buy now</span>
        <svg width="7.3" height="10">
          <use href="images/icons.svg#icon-greater-than"></use>
        </svg>
      </button>
    </div>
    <ul class="menu__nav">
      <li class="menu__item"><a href="index.html" class="menu__link">Home</a></li>
      <li class="menu__item"><a href="#" class="menu__link">About Us</a></li>
      <li class="menu__item"><a href="#" class="menu__link">How It's made?</a></li>
      <li class="menu__item"><a href="#" class="menu__link">Contact</a></li>
      <li class="menu__item"><a href="#" class="menu__link">Our products</a></li>
      <li class="menu__item menu__item--last"><a href="#" class="menu__link">Contact</a></li>
    </ul>
  </div>
</div>
