<section class="container product">
  <p class="product__description-title">100% natural</p>
  <h2 class="product__title-section">Products</h2>

  <img class="product__img" src="images/products/ice-cream-mobile.png" alt="ice cream" />
  <ul>
    <li class="product__wrapper product__wrapper--cream-bg">
      <h3 class="product__title">Ice Cream</h3>

      <p class="product__content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
      <img
        class="product__button"
        src="images/products/products-arrow.png"
        alt="button"
        width="40px"
        height="40px"
      />
    </li>

    <img
      class="product__img"
      src="images/products/coffee-mobile.png"
      alt="ice cream"
      width="294px"
      height="252px"
    />
    <li class="product__wrapper product__wrapper--caffe-bg">
      <h3 class="product__title">Ice Coffe</h3>
      <p class="product__content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
      <img
        class="product__button"
        src="images/products/products-arrow.png"
        alt="button"
        width="40px"
        height="40px"
      />
    </li>
    <img
      class="product__img"
      src="images/products/shake-mobile.png"
      alt="ice cream"
      width="294px"
      height="252px"
    />
    <li class="product__wrapper product__wrapper--milkshakes-bg">
      <h3 class="product__title">Milkshakes</h3>
      <p class="product__content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
      <img
        class="product__button"
        src="images/products/products-arrow.png"
        alt="button"
        width="40px"
        height="40px"
      />
    </li>
  </ul>
</section>
