<section class="container product">
  <p class="product__description-title">100% natural</p>
  <h2 class="product__title-section">Products</h2>

  <div class="product__wrap">
  <img class="product__img" src="images/products/ice-cream-mobile.png" scrset="images/products/ice-cream-mobile@2x.png 2x, images/products/ice-cream-mobile@3x.png 2x" alt="ice cream" />
    <div class="product__wrapper product__wrapper--cream-bg">
      <h3 class="product__title">Ice Cream</h3>

      <ul class="product__list-dot">
        <li class="product__item-dot"></li>
        <li class="product__item-dot"></li>
        <li class="product__item-dot"></li>
      </ul>

      <p class="product__content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
      <button class="button button--products product__button-postion"></button>
    </div>
  </div>
</div>

<div class="product__wrap">
      <img class="product__img" src="images/products/coffee-mobile.png" srcset="images/products/coffee-mobile@2x.png 2x, images/products/coffee-mobile@3x.png 3x"alt="ice cream" />
      <div class="product__wrapper product__wrapper--caffe-bg">
        <h3 class="product__title">Ice Coffe</h3>

        <ul class="product__list-dot">
          <li class="product__item-dot"></li>
          <li class="product__item-dot"></li>
          <li class="product__item-dot"></li>
        </ul>

        <p class="product__content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="button button--products product__button-postion"></button>
      </div>
    </div>
  </div>

  <div class="product__wrap">
      <img class="product__img" src="images/products/shake-mobile.png" srcset="images/products/shake-mobile@2x.png 2x, images/products/shake-mobile@3x.png 3x" alt="ice cream" />
      <div class="product__wrapper product__wrapper--milkshakes-bg">
        <h3 class="product__title">Milkshakes</h3>

        <ul class="product__list-dot">
          <li class="product__item-dot"></li>
          <li class="product__item-dot"></li>
          <li class="product__item-dot"></li>
        </ul>

        <p class="product__content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="button button--products product__button-postion"></button>
      </div>
    </div>
    </div>
</section>
