<section id="products" class="container products">
  <p class="products__description-title">100% natural</p>
  <h2 class="products__title-section">Products</h2>

  <ul class="products__box">
    <li>
      <div class="products__wrap">
        <img
          class="products__img"
          src="images/products/ice-cream-mobile.png"
          scrset="images/products/ice-cream-mobile@2x.png 2x, images/products/ice-cream-mobile@3x.png 2x"
          alt="ice cream"
        />
        <div class="products__wrapper products__wrapper--cream-bg">
          <h3 class="products__title">Ice Cream</h3>

          <ul class="products__list-dot">
            <li class="products__item-dot"></li>
            <li class="products__item-dot"></li>
            <li class="products__item-dot"></li>
          </ul>

          <p class="products__content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button class="button button--products products__button-postion"></button>
        </div>
      </div>
    </li>

    <li>
      <div class="products__wrap">
        <img
          class="products__img"
          src="images/products/coffee-mobile.png"
          srcset="images/products/coffee-mobile@2x.png 2x, images/products/coffee-mobile@3x.png 3x"
          alt="ice cream"
        />
        <div class="products__wrapper products__wrapper--caffe-bg">
          <h3 class="products__title">Ice Coffe</h3>

          <ul class="products__list-dot">
            <li class="products__item-dot"></li>
            <li class="products__item-dot"></li>
            <li class="products__item-dot"></li>
          </ul>

          <p class="products__content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button class="button button--products products__button-postion"></button>
        </div>
      </div>
    </li>

    <li>
      <div class="products__wrap">
        <img
          class="products__img"
          src="images/products/shake-mobile.png"
          srcset="images/products/shake-mobile@2x.png 2x, images/products/shake-mobile@3x.png 3x"
          alt="ice cream"
        />
        <div class="products__wrapper products__wrapper--milkshakes-bg">
          <h3 class="products__title">Milkshakes</h3>

          <ul class="products__list-dot">
            <li class="products__item-dot"></li>
            <li class="products__item-dot"></li>
            <li class="products__item-dot"></li>
          </ul>

          <p class="products__content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button class="button button--products"></button>
        </div>
      </div>
    </li>
  </ul>
</section>
