<section class="container product">
  <p class="product__description-title">100% natural</p>
  <h2 class="product__title-section">Products</h2>
  <ul>
    <li class="product__wrapper">
      <img
        class="product__img"
        src="images/products/ice-cream-mobile.png"
        alt="ice cream"
        width="294px"
        height="252px"
      />
      <h3 class="product__title">Ice Cream</h3>
      <p class="product__content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
    </li>

    <li class="product__wrapper">
      <img
        class="product__img"
        src="images/products/coffee-mobile.png"
        alt="ice cream"
        width="294px"
        height="252px"
      />
      <h3 class="product__title">Ice Coffe</h3>
      <p class="product__content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
    </li>

    <li class="product__wrapper">
      <img
        class="product__img"
        src="images/products/shake-mobile.png"
        alt="ice cream"
        width="294px"
        height="252px"
      />
      <h3 class="product__title">Milkshakes</h3>
      <p class="product__content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
    </li>
  </ul>
</section>
